.container{
    display: flex;
    justify-content: space-around;
}

.button-1{
    background-color: crimson;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.button-2{
    margin-right: 5px;
    background-color: crimson;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.button-x{
    margin-left: 200px;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(29, 236, 243);
}


.card{
    flex: 0 0 200px;
    margin: 5px;
    background-color: rgb(21, 241, 113);
    border: 5px solid rgb(2, 148, 2);
    border-radius: 50px;
    box-shadow: 4px 4px 4px rgb(39, 211, 202);
    font-family:monospace;
    box-sizing: border-box;
    padding: 25px;
}
.card img{
    border-radius: 50%;
}

h2{
 font-size: 35px;
 color:black;
}
h4{
    font-size: 20px;
    color: black;
}